---
import { Image } from "astro:assets";
import FOLDER_IMG from "../images/folder.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📂</text></svg>">

        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="archive.juw.ee">
        <meta property="twitter:url" content="https://archive.juw.ee">
        <meta name="twitter:site" content="@juweeism" />
        <meta name="twitter:title" content="juwee's archives" />
        <meta name="twitter:description" content="data hoarding!!!" />
        <meta name="twitter:image" content="https://archive.juw.ee/banner.png" />

		<title>archive</title>
	</head>
	<body>
    	<div class="max-w-[700px] p-6 mx-auto">
            <div class="w-full py-5">
            <pre class="text-[7px] font-mono leading-none md:text-[30%] lg:text-xs lg:leading-none w-full text-green-500">
::::::'##:'##::::'##:'##:::::'##:'########:'########:'####::'######::           
:::::: ##: ##:::: ##: ##:'##: ##: ##.....:: ##.....:: ####:'##... ##:           
:::::: ##: ##:::: ##: ##: ##: ##: ##::::::: ##:::::::. ##:: ##:::..::           
:::::: ##: ##:::: ##: ##: ##: ##: ######::: ######:::'##:::. ######::           
'##::: ##: ##:::: ##: ##: ##: ##: ##...:::: ##...::::..:::::..... ##:           
 ##::: ##: ##:::: ##: ##: ##: ##: ##::::::: ##:::::::::::::'##::: ##:           
. ######::. #######::. ###. ###:: ########: ########:::::::. ######::           
:......::::.......::::...::...:::........::........:::::::::......:::           
:::'###::::'########:::'######::'##::::'##:'####:'##::::'##:'########::'######::
::'## ##::: ##.... ##:'##... ##: ##:::: ##:. ##:: ##:::: ##: ##.....::'##... ##:
:'##:. ##:: ##:::: ##: ##:::..:: ##:::: ##:: ##:: ##:::: ##: ##::::::: ##:::..::
'##:::. ##: ########:: ##::::::: #########:: ##:: ##:::: ##: ######:::. ######::
 #########: ##.. ##::: ##::::::: ##.... ##:: ##::. ##:: ##:: ##...:::::..... ##:
 ##.... ##: ##::. ##:: ##::: ##: ##:::: ##:: ##:::. ## ##::: ##:::::::'##::: ##:
 ##:::: ##: ##:::. ##:. ######:: ##:::: ##:'####:::. ###:::: ########:. ######::
..:::::..::..:::::..:::......:::..:::::..::....:::::...:::::........:::......:::
            </pre>
            </div>
            <a href="/screenshots">
                <div class="flex flex-col w-24">
                    <Image src={FOLDER_IMG} alt="folder icon"/>
                    <p class="text-white font-mono">screenshots</p>
                </div>
            </a>
    	</div>
	</body>
</html>

<style>
    body, html {
        background: black;
    }
</style>
