---
import { Image } from "astro:assets";
import FOLDER_IMG from "../images/folder.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>archive</title>
	</head>
	<body>
    	<div class="max-w-[700px] p-6 mx-auto">
            <a href="/screenshots">
                <div class="flex flex-col w-24">
                    <Image src={FOLDER_IMG} alt="folder icon"/>
                    <p class="text-white font-mono">screenshots</p>
                </div>
            </a>
    	</div>
	</body>
</html>

<style>
    body, html {
        background: black;
    }
</style>
