<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>archive | screenshots</title>
	</head>
	<body>
    	<div class="max-w-[700px] text-white font-mono p-6 md:p-12 mx-auto">
            <ul class="flex gap-6">
                <li>
                    <a href="http://craftinginterpreters.com/contents.html">
                        <span class="text-xs w-[1rem]">
                            crafting interpreters
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://craftinginterpreters.com/contents.html">
                        <span class="text-xs w-[1rem]">
                            crafting interpreters
                        </span>
                    </a>
                </li>
            </ul>
    	</div>
	</body>
</html>

<style>
    body, html {
        background: black;
    }
</style>
