<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>archive | thumbnails</title>
	</head>
    <body>
        <div class="flex text-center">
            <a href="/img/thumbnail-2411.jpg" class="flex flex-col gap-3 justify-center items-center">
                <img src="/img/thumbnail-2411.jpg" alt="girlblog notes nov 2024 thumbnail"/>
                <p class="text-center text-white">thumbnail-2411.jpg</p>
            </a>
        </div>
    </body>
</html>

<style>
    body, html {
        max-width: 1200px;
        margin: 0 auto;
        background: black;
        padding: 1.5rem;
    }

    img {
        background: white;
        border: 1px solid lightgray;
        padding: 6px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        max-width: 10rem;
    }
</style>
